<<<<<<< HEAD
a{
  text-decoration: none;
}
input:focus{
  outline: none;
}
body{
  font-family: 'Cambria', serif;
  color: #fff;
  overflow-x: hidden;
}
.container{
  width: 1786px;
  margin: 0 auto;
}

.btn{
  border: none;
  width: 200px;
  height: 80px;
  border-radius: 40px;
  filter: drop-shadow(0px 16px 12px #000000);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.1;
  font-family: "Arial";
  text-align: center;
  cursor: pointer;
  &--brand{
    background: #f73327;
  }
  &:hover{
    background: #dc143c;
  }
}

.main{
  min-height: 100vh;
  background: url("../../../src/images/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  &__container{
    display: flex;
  }
  &__image{
    position: absolute;
    bottom: 0;
    &--witcher{
      left: 32px;
    }
  }
  &__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 190px;
    padding-top: 238px;
    z-index: 1;
  }
  &__title{
    font-size: 209px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    filter: drop-shadow(0px 16px 12px #000000);
  }
  &__subtitle{
    font-size: 68px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    filter: drop-shadow(0px 16px 12px #000000);
  }
  &__code{
    border-radius:  40px;
    border: 1px dashed #464646;
    display: flex;
    align-items: center;
    margin:36px 0 60px;
    &-input{
      width: 270px;
      padding: 18px 0 14px 34px;
      font-size: 40px;
      border: none;
      background: transparent;
      letter-spacing: 4px;
      line-height: 1.1;
      color: #f73327;
      text-transform: uppercase;
      font-family: 'Arial';
    }
    &-btn{
      background: transparent;
      font-size: 18px;
      letter-spacing: 2px;
      border-radius: 0 40px 40px 0;
      filter: none;
      border-left: 1px solid #464646;
      font-size: 18px;
      padding: 0px 38px 0 34px;
      cursor: pointer;
      width: 198px;
      white-space: nowrap;

    }
  }
  &__footer{
    margin-top: auto;
    padding-bottom: 40px;
    z-index: 1;
    &-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-logo img{
      width: 228px;
    }
    &-text a{
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 22px;
      color: #464646 !important;
      font-family: "Arial";
    }
  }


}
=======
>>>>>>> e39b3e00d15d11b8f3cc94313b3921768293eb3f

